{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DEEPAK</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
  <div class="logo">DEEPAK DAS.D<span class="dot">.</span></div>
  <nav>          
    <div class="nav-links">
      <a href="#">WORK</a>
      <a href="#">DEMO</a>
      <a href="#">About</a>
      <div class="lang">
        <a href="#">FR</a>
        <a href="#" class="active">EN</a>
      </div>
      <a href="mailto:deepakdas.since2004@gmail.com" class="email-button">deepakdas.since2004@gmail.com</a>
    </div>
  </nav>
</header>



  <main class="hero">
    <p class="intro">👋 My name is Deepak Das.D and I am focusing in developing myself</p><br>
   

    <div class="background-title">
      <h1>
        <br>
        <span class="solid">FLUTTER DEVELOPER</span><br>
    
        <span class="outline">&amp;BACKEND DEVELOPER</span><br>
</span>
      </h1>
   <div class="location">
    <p>based in Palakkad, Kerala.</p>
  </div>
    </div>
    
   <div class="hero-img">
  <img src="{% static 'images/anime me2.png' %}" alt="DEEPAK">
  
  <div class="buttons">
    <button>You need a flutter developer</button>
    <button class="outline-btn">You need a backend developer</button>
  </div>
  
</div>


   
  </main>

  <script src="{% static 'javascript/script.js' %}"></script>
</body>
</html>
